<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No Sleep For The Week</title>
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/bootstrap-3.3.7-dist/css/bootstrap.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/stylesheet.css') }}">
</head>

<body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Brought to you by <span class="text-success">The Avengers</span></a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="https://github.com/KirstinBoni/NoSleepForTheWeek"><img class="img-thumbnail" src="static/styles/Octocat.png"></a></li>
        </ul>
      </div>
    </nav>
    <div class="page-header">
        <h1>Sleep is For the Week</h1>
    </div>
    <div class="jumbotron">
        <h2><span class="text-danger">Tired?</span> Struggling to stay <span class="text-danger">awake</span>? We're you're solution! Just enter your information and anytime
            you succomb to <span class="text-danger">unwanted sleep</span>, we are here to wake you up.
        </h2>
    </div>
    <div class="container-fluid">
        {% block content %}{% endblock %}
    </div>
    <div class="container-fluid">
      <div class="row" style="float: none; margin: 0 auto;">
        <div class="col-md-11">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
        </form>
      </div>
      </div>
      <div class="row" style="float: none; margin: 0 auto;">
        <div class="col-md-1">
            <img class="img-circle" src="/static/styles/bbygroot.jpg">
        </div>
        <div class="col-md-10">
            <input class="btn" value="I want a Baby Groot alarm, gentle and sweet!"></input>
        </div>
      </div>
      <div class="row" style="float: none; margin: 0 auto;">
        <div class="col-md-1">
          <img class="img-circle" src="/static/styles/teengroot.jpg">
        </div>
        <div class="col-md-10">
            <input class="btn" value="I want a Teenager Groot alarm, grouchy and annoying!"></input>
        </div>
      </div>
      <div class="row" style="float: none; margin: 0 auto;">
        <div class="col-md-1">
          <img class="img-circle" src="/static/styles/adultgroot.jpg">
        </div>
        <div class="col-md-10">
            <input class="btn" value="I want an Adult Groot alarm, aggressive and firm!"></input>
        </div>
      </div>
    </div>
    <div class="footer">

    </div>
    {% block scripts %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>

</html>
